/* 顶部导航栏及logo及搜索 */

/* 顶部条条*/
.topNav-top-box{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}
.topNav-top{
    
    position: relative;
    height: 30px;
    width: 100%;
    font-size: 12px;
    padding: 0 200px;
    box-sizing: border-box;
    background-color: #fff;
}
.topNav-top p ,a{
    color: #a9a9a9;
}
.topNav-top div:nth-child(1){
    margin-right: 200px;
    line-height: 30px;
    position: absolute;
    left: 200px;
}
.topNav-top div:nth-child(2){
    margin: 5px 0;
    position: absolute;
    right: 200px;
}
.topNav-top div:nth-child(2) ul li{
    display: block;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #a9a9a9;
}
.topNav-top div:nth-child(2) ul li a:hover{
    color: #fd8909;
}
.topNav-top div:nth-child(2) ul li:nth-child(3) a{
    color: #fd8909;
}
.topNav-top div:nth-child(2) ul li:last-child{
    border: 0;
    padding-right: 0;
}

/* logo导航条以及搜索 */
.topNav-bom-box{
    position: sticky;
    top: -1px;
    background-color: white;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}
/* 左边的logo */
.topNav-logo{
    position: absolute;
    width: 100px;
    left: 200px;
    top: 5px;
    display: inline-block;
}
/* 中间的导航栏 */
.topNav-nav{
    position: absolute;
    top: 0;
    left: 400px;  
    z-index: 100;
}
.topNav-nav a{
    color: black;
}
.topNav-nav>ul>li{
    position: relative;
    display: inline-block;
    line-height: 50px;
    box-sizing: border-box;
}
.topNav-nav>ul>li>a{
    padding: 15px 15px;
    font-weight: bold;
}
.topNav-nav>ul>li>a:hover{
    color: coral;
}
.topNav-nav>ul>li>ul{
    position: absolute;
    top: 52px;
    display: none;
    text-align: center;
    z-index: 10;
    white-space:nowrap;
    background-color: #fff;
}
.topNav-nav>ul>li>ul>li{
    border-bottom: 1px solid #ccc;
}
.topNav-nav>ul>li>ul>li>a{
    width: 50px;
    padding: 10px;
    font-size: 14px;
}
.topNav-nav>ul>li>ul>li:hover{
    background-color: rgb(200, 200, 200);
}
.topNav-nav>ul>li:hover ul{
    display: block;
}

/* 按钮被选中时 */
.thisTopNav::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60%;
    height: 3px;
    border-radius: 10px 10px 0 0;
    background-color: #ff5252;
}

/* 右侧搜索 */
.topNav-search{
    position: absolute;
    top: 10px;
    right: 200px;
    width: 290px;
}
.search-box{
    position: absolute;
    top: -10px;
    left: 0px;
    height: 50px;

    background-color: #fff;
}
.search-box>input{
    width: 200px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #fff;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 12px;
}
.search-icon{
    position: absolute;
    top: 10px;
    left: 0px;
}
/* 右侧登录按钮 */
.topNav-search div{
    display: inline-block;
    position: absolute;
    right: 0;
}
.topNav-search div a{
    padding: 6px 20px;
    color: white;
    background-color: #ff5252;
    border-radius: 20px;
}
.topNav-search div a:hover{
    padding: 6px 20px;
    color: white;
    transition: .5s;
    background-color: #ff7a7a;
}

.searchC{
    position: absolute;
    top: 39px;
    left: 0;
    width: 290px;
    height: 0px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.searchC>hr:first-child{
    background-color: red;
    height: 1px;
    width: 200px;
    opacity:0;
}
.searchC-type{
    display: none;
    position: absolute;
    left: 0;
    background-color: #f6f6f6;
    padding: 10px 5px;
    opacity:0;
}
.searchC-type ul li{
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 13px;
    position: relative;
    cursor:pointer;
}
.searchC-type ul li input{
    padding-left: 5px;
    color: #757575;
}
.searchC-type ul li span{
    padding-left: 5px;
    color: #757575;
}
.searchC h4{
    position: absolute;
    top: 70px;
    left: 20px;
    opacity:0;
}
.searchC-hot{
    position: absolute;
    top: 100px;
    left: 20px;
    line-height: 22px;
    font-size: 13px;
    opacity:0;
}
.searchC-hot tr{
    cursor:pointer;
}
.searchC-hot tr:hover{
    color:#ff7474;
}
.searchC-hot tr td:nth-child(1){
    text-align: center;
    background-color: #e3e3e3;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: #91a7c3;
}
.searchC-hot tr:nth-child(1) td:nth-child(1){
    background-color: #ff5252;
    color: #fff;
}
.searchC-hot tr:nth-child(2) td:nth-child(1){
    background-color: #ff9800;
    color: #fff;
}
.searchC-hot tr:nth-child(3) td:nth-child(1){
    background-color: #e0c87f;
    color: #fff;
}
.searchC-hot tr td:nth-child(2){
    border-left: 10px solid #00000000;
}
.searchC-tip{
    position: absolute;
    top: 470px;
    left: 20px;
    font-size: 12px;
    color: #ccc;
    opacity:0;
}


/* 更多分类的下拉区域内容 */
.moreC-box{
    position: sticky;
    top: 49px;
    background-color: #fff;
    padding: 0 200px;
    height: 0px;
    display: none;
    z-index: 10;
    box-shadow: 0 20px 20px rgba(0,0,0,.3);
}
#close{
    position:absolute;
    bottom:-300px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #c1ea82;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    user-select:none; /* CSS3属性 */
    cursor:pointer;
    transition: .5s;
    z-index: 500;
}
#close:hover{
    width: 100px;
    height: 100px;
    background-color: #dafca7;
    line-height: 90px;
}
.moreC{
    background-color: rgb(255, 90, 90);
    width: 1110px;
    opacity:0;
}
.moreC-type{
    width: 150px;
    float: left;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.moreC a{
    padding: 10px 0px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.moreC a:nth-child(6){
    border-bottom: 1px solid #00000000;
}
.moreC>div>a:hover{
    background-color: rgba(214, 214, 214, 0.6);

}
/* 按钮被选中时 */
.moreC .moreC-type .current{
    background-color: #ff5252;
    padding: 10px 0px;
    color: white;
    font-weight: bold;
}
/* 内容区域 */
.moreC-content{ 
    width: 950px;
    height: 360px;
    float:right; 
    overflow: hidden;
    display:block;
    background-color: rgb(255, 255, 255);

}
.moreC-content div:nth-child(1){
    width: 100%;
    height: 360px;
    box-sizing: border-box;
}

/* 分类第一块区域 板块 */
.moreC-1>table{
    width: 100%;
    height: 300px;
    white-space:nowrap; 
    border-collapse: collapse;
    
}
.moreC-1 table tr td:hover{
    background-color: rgb(233, 233, 233);
}
.moreC-1 table tr td a{
    border: 0;
}
.moreC-1 table tr td{
    position: relative;
    border: 1px solid rgb(233, 233, 233);
    width: 160px;
}
.moreC-1 table tr td h3{
    position: absolute;
    top: 10px;
    left: 10px;
}
.moreC-1 table tr td a div{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(../images/sprite/moreC-1-icon.png) 0 0;
}
.moreC-1 table tr td span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}
.moreC-1 table span{
    color: #999999;
}
.moreC-1 table h3{
    color: #000;
}
#moreC-1-icon11{
     background-position: 0 0;
}
#moreC-1-icon12{
    background-position: -30px 0;
}
#moreC-1-icon13{
    background-position: -60px 0;
}
#moreC-1-icon14{
    background-position: -90px 0;
}
#moreC-1-icon15{
    background-position: -120px 0;
}
#moreC-1-icon21{
    background-position: 0 -30px;
}
#moreC-1-icon22{
   background-position: -30px -30px;
}
#moreC-1-icon23{
   background-position: -60px -30px;
}
#moreC-1-icon24{
   background-position: -90px -30px;
}
#moreC-1-icon25{
   background-position: -120px -30px;
}
#moreC-1-icon31{
    background-position: 0 -60px;
}
#moreC-1-icon32{
   background-position: -30px -60px;
}
#moreC-1-icon33{
   background-position: -60px -60px;
}
#moreC-1-icon34{
   background-position: -90px -60px;
}
#moreC-1-icon35{
   background-position: -120px -60px;
}

.moreC-2 table{
    width: 100%;
}
.moreC-2 table tr td{
    position: relative;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.moreC-2 table tr td:hover{
    background-color: rgb(233, 233, 233);
}
.moreC-2 a{
    border: 0;
}
.moreC-2 table tr td a p{
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 30;
}
.moreC-2 table tr td a span{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 26px;
    color: #dbdbdb7a;
}

.moreC-6 table{
    width: 100%;
}
.moreC-6 table tr td{
    position: relative;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.moreC-6 table tr td a:hover{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(233, 233, 233, .5);
}
.moreC-6 a{
    border: 0;
    color: white;
}
.moreC-6 table tr td a p{
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 30;
}
.moreC-6 table tr td a span{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 26px;
    color: #dbdbdb7a;
}
#toBlack{
    color: black;
}
.moreC-6 table tr:nth-child(1) td:nth-child(1){
    background-color: #4dabf5;
}
.moreC-6 table tr:nth-child(1) td:nth-child(2){
    background-color: #f44336;
}
.moreC-6 table tr:nth-child(1) td:nth-child(3){
    background-color: #000000;
}
.moreC-6 table tr:nth-child(1) td:nth-child(4){
    background-color: #4caf50;
}
.moreC-6 table tr:nth-child(1) td:nth-child(5){
    background-color: #fff600;
}
.moreC-6 table tr:nth-child(1) td:nth-child(6){
    background-image: linear-gradient(to top right, yellow,green,#cc41a2,orange, yellow);
}
.moreC-6 table tr:nth-child(1) td:nth-child(7){
    background-color: #ff9800;
}
.moreC-6 table tr:nth-child(1) td:nth-child(8){
    background-image: linear-gradient(to top right, #623fb9, #0aa0ef);
}
.moreC-6 table tr:nth-child(2) td:nth-child(1){
    background-color: #9700cf;
}
.moreC-6 table tr:nth-child(2) td:nth-child(2){
    background-color: #ffd700;
}
.moreC-6 table tr:nth-child(2) td:nth-child(3){
    background-color: #888888;
}
.moreC-6 table tr:nth-child(2) td:nth-child(4){
    background-color: #c0c0c0;
}
.moreC-6 table tr:nth-child(2) td:nth-child(5){
    background-color: #6e3400;
}
.moreC-6 table tr:nth-child(2) td:nth-child(6){
    background-color: #ffffff;
}
.moreC-6 table tr:nth-child(2) td:nth-child(7){
    background-color: #ef42ce;
}

/* ------------------顶部导航栏结束------------------ */
/* ------------------分割线------------------ */
/* ------------------内容区域开始------------------ */


html{
    background-color: #ececec;
}
.bodyC-box{
    position: relative;
    background-color: #ececec;
    width: 100%;
    padding-top: 20px;
}

/* 底部信息 */
.footBox{
    width: 100%;
    background-color: #b4b4b4;
}
.footBox1{
    padding: 50px 200px;
    position: relative;
    color: white;
    height: 200px;
    box-sizing: border-box;
    background:url(../images/foot/b1.png) no-repeat;
}
.footBox1-L p{
    margin-top: 20px;
}
.footBox1-R{
    position: absolute;
    right: 200px;
    top: 50px;
}
.footBox1-R div{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f84840;
    border: 2px solid #de221e;
    transition: .5s;
    cursor:pointer;
}
.footBox1-R div:hover{
    background-color: #19232d;
    border: 2px solid #19232d;
}
.footBox2{
    padding: 40px 200px;
    background-color: #19232d;
    height: 230px;
    color: #72818d;
    position: relative;
}
.footBox2-T-L p{
    margin-top: 10px;
    width: 600px;
    font-size: 13px;
    line-height: 2em;
}
.footBox2-T-R{
    position: absolute;
    right: 200px;
    top: 40px;
}
.footBox2-T-R ul{
    margin-right: 50px;
    display: block;
    float: left;
    text-align: center;
}
.footBox2-T-R ul a{
    color: #72818d;
}
.footBox2-T-R ul li:nth-child(1){
    font-weight: bold;
    font-size: 16px;
}
.footBox2-T-R ul li{
    padding-bottom: 15px;
    font-size: 13px;
}
.footBox2-T-R div{
    display: block;
    float: right;
}
.footBox2-T-R div div{
    position: absolute;
    right: 20px;
    
}
.footBox2-T-R div div input{
    display: inline-block;
    background-color: #182e40;
    width: 180px;
    padding: 10px;
    outline:0px;
    border:0;
    color:white
}
.footBox2-T-R div div div{
    display: inline-block;
    position: absolute;
    right: -20px;
    text-align: center;
    line-height: 40px;
    width: 60px;
    background-color: #121a21;
    cursor:pointer;

}
.footBox2-B{
    background-color: #192b3a;
    width: 100%;
    height: 30px;
    margin-top: 60px;
    padding-left: 20px;
}
.footBox2-B a{
    color: #72818d;
    font-size: 12px;
}
.footBox2-B ul li{
    float: left;
    margin-right: 20px;
    line-height: 30px;
}
.footBox3{
    padding: 25px 200px;
    background-color: #121a21;
    height: 100px;
    box-sizing: border-box;
    color: #72818d;
    font-size: 12px;
}
.footBox3 p:nth-child(1){
    float: left;
}
.footBox3 p:nth-child(2){
    float: right;
    text-align: right;
}